{namespace rkwEtracker=RKW\RkwEtracker\ViewHelpers}

<f:comment>
    <!-- etracker tracklet 4.0 -->

    <script id="_etLoader" type="text/javascript" charset="UTF-8" data-secure-code="{settings.secureCode}" src="//static.etracker.com/code/e.js"></script>
    <noscript><link rel="stylesheet" media="all" href="//www.etracker.de/cnt_css.php?et={settings.secureCode}&v=4.0&java=n&et_pagename=<f:format.raw><f:cObject typoscriptObjectPath='plugin.tx_rkwetracker.lib.pageUrlEncoded' /></f:format.raw>&et_areas=<f:format.urlencode><f:cObject typoscriptObjectPath='plugin.tx_rkwetracker.lib.categoryDomainPrefix' /><rkwEtracker:category category1="<f:cObject typoscriptObjectPath='plugin.tx_rkwetracker.lib.categoryLevel1' />" category2="<f:cObject typoscriptObjectPath='plugin.tx_rkwetracker.lib.categoryLevel2' />" category3="<f:cObject typoscriptObjectPath='plugin.tx_rkwetracker.lib.categoryLevel3' />" category4="<f:cObject typoscriptObjectPath='plugin.tx_rkwetracker.lib.categoryLevel4' />" category5="<f:cObject typoscriptObjectPath='plugin.tx_rkwetracker.lib.categoryLevel5' />"/></f:format.urlencode>" /></noscript>
    <!-- etracker tracklet 4.0 end -->

</f:comment>

<!-- Copyright (c) 2000-2018 etracker GmbH. All rights reserved. -->
<!-- This material may not be reproduced, displayed, modified or distributed -->
<!-- without the express prior written permission of the copyright holder. -->
<!-- etracker tracklet 4.1 -->
<script type="text/javascript">
    var et_pagename     = '<f:format.raw><f:cObject typoscriptObjectPath="plugin.tx_rkwetracker.lib.pageUrl" /></f:format.raw>';
    var et_areas        = '<f:cObject typoscriptObjectPath="plugin.tx_rkwetracker.lib.categoryDomainPrefix" /><rkwEtracker:category category1="<f:cObject typoscriptObjectPath='plugin.tx_rkwetracker.lib.categoryLevel1' />" category2="<f:cObject typoscriptObjectPath='plugin.tx_rkwetracker.lib.categoryLevel2' />" category3="<f:cObject typoscriptObjectPath='plugin.tx_rkwetracker.lib.categoryLevel3' />" category4="<f:cObject typoscriptObjectPath='plugin.tx_rkwetracker.lib.categoryLevel4' />" category5="<f:cObject typoscriptObjectPath='plugin.tx_rkwetracker.lib.categoryLevel5' />"/>';
</script>
<script id="_etLoader" type="text/javascript" charset="UTF-8" data-respect-dnt="true" data-secure-code="{settings.secureCode}" src="//static.etracker.com/code/e.js"></script>
<!-- etracker tracklet 4.1 end -->

